/* START - Styles and fonts for every page */

/* Fonts */

@font-face {
    font-family: 'Syne Regular';
    src: url('resources/fonts/Syne-Regular.ttf') format('truetype');   
}

@font-face {
    font-family: 'Syne Medium';
    src: url('resources/fonts/Syne-Medium.ttf') format('truetype');   
}

@font-face {
    font-family: 'Syne SemiBold';
    src: url('resources/fonts/Syne-SemiBold.ttf') format('truetype');   
}

@font-face {
    font-family: 'Syne Bold';
    src: url('resources/fonts/Syne-Bold.ttf') format('truetype');   
}

@font-face {
    font-family: 'Syne ExtraBold';
    src: url('resources/fonts/Syne-ExtraBold.ttf') format('truetype');   
}

/* Universal styles */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Syne Regular', sans-serif;
    text-align: center;
}

/* Header Section */

header a {
    text-decoration: none;
    color: black;
}
header p {
    font-size: 32px;
}

header span {
    font-size: 25px;
    vertical-align: top;
}

nav {
    border-bottom: 1px solid black;
}

nav a{
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 25px 25px;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

/* Footer Section */

footer {
    position: relative;
    width: 100%;
    height: 80px;
    top: 100px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 15px;
}



/* END - Styles and fonts for every page */

/* Main Section */

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    padding: 80px;
    height: auto;
    min-height: 80%;
    margin-bottom: -80px;
    
}

.introduction {
    padding-bottom: 40px;
}

.introduction h1 {
    font-size: 40px;
}
.introduction p {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}

.introduction a {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
}

img {
    width: auto;
    height: 500px;
}

/* Media queries */






